.sidenav {
  width: 20vw;
  background-color: lightblue;
  height: 100vh;
}

.container {
  display: flex;
}

.content {
  padding: 2rem;
}

.list-item {
  list-style-type: none;
}

.brand-icon {
  width: 2rem;
  box-shadow: 2px 2px 4px #797979;
  border-radius: 6px;
}

.error {
  color: red;
}

.field-error {
  border: 1px solid red;
}

.success {
  background-color: lightgreen;
  color: darkgreen;
  padding: 2rem;
  display: inline-block;
}